
/* alwyas flex wrap so you can view it on mobile 

wrap-reverse-wraps it the other way
no wrap 
order messes up screenreaders
flexgrow-change to take up a specific amount of room
flex-shrink = takes away bottom space


*/

.top{
    background-color: rgba(70, 37, 37, 0.192);
}

h1,h2{
    text-align:center;
    font-family: "Fondamento";
}

.flexbox-container{
    display:flex;
    justify-content: space-around;
    align-content: space-between;
    border: brown double 20px;
}

img{
    widows: 100%;
    height: 300px
}

body{
    background-color:rgb(167, 111, 111);
}


.one{
    align-self: center;
    width:40%;
    flex-flow:wrap;
    flex-shrink:1;
}




.two{
    flex-flow:wrap;
    flex-shrink:1;
}

.three{
    flex-flow:wrap;
    flex-shrink:1;
}

.flexbox-container-two{
    display:flex;
    justify-content: space-around;
    align-content: space-between;
}

.six img{
    border: silver groove 10px;
}

.seven{
    display: flex;
    justify-content: space-around;
    background-color: rgb(194, 148, 111);
    flex-flow:wrap;
    flex-shrink:1;
}


footer{
    text-align: center;
}

/* media query */
/* width covers 0-480 pixels---phone */
@media screen and (max-width:480px){ 
    body{
        background-color: seagreen;
        
    }

}

/* media query with a min width of 760px for a tablet */
/* covers 481-768px */
@media screen and (min-width: 780px){
    body{
        background-color: rgb(255, 0, 0);
    }
}
/* min width of 1025px */
/* width covers 765-1025px
anything greater that 1025 */

@media screen and (min-width: 1025px){
    body{
        background-color:rgb(167, 111, 111);
    }
}